[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
flake8 = "*"
requests = "*"
pillow = "*"
django-crispy-forms = "*"
html2text = "*"
django-resized = "*"

[dev-packages]

[requires]
python_version = "3.9"
